@CHARSET "UTF-8";

body #sign {
    text-align: center; 
}

body #sign li {
    display: inline-block;
}

body #sign li a  {
    background-color: #dd003f;
    border-radius: 42px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 30px 30px;
	text-align: center;
	margin-top: 30px;
}

@media (min-width: 768px) {
  .navbar-nav {
  	float:none;
    margin: 0;
  }
  .navbar-nav > li {
 	float:none;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.bigSliderBtn {
	margin-bottom: 15px;
	margin-top: 25px;
}
