@CHARSET "UTF-8";

.navLi {	
	border: solid 1px white;
	width: 120px;
	height: 35.5px;
	display: inline-block;
	margin-bottom: 10px;
	padding-bottom: 0px;
	margin-left: 20px;
	text-align: left;
	padding-left: -65px;
}


.navLi:hover {	
	font-size: 22px;
	color: blue;
	text-decoration: underline;
}


header .navbar-default .navbar-nav .dropdown .dropdown-menu.hearderLevel {
  position: absolute;
  top: -21px !important;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 304px;
  left: 177px;
  padding-top: 20px ;
  padding-bottom: 20px;
  bottom: auto !important;
}


header .navbar-default .genrenavbar-nav li a {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

<<<<<<< HEAD
/* 회원가입 추가 css */
.overlay .login-content .row {
	display: flex;
}

.overlay .login-content .row .genders {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 25px;
}

.overlay .login-content .row .genders span{
	margin-right: 25px;
}
=======
>>>>>>> 3f5ff0f4975a27b2a757ac844ad856b51a1c08b3
