@CHARSET "UTF-8";


.movie-items .movie-item .mv-img {

	max-width:100%;
	height:auto;
	
}


.movie-items .movie-item .mv-img:hover {
  	cursor:pointer;
	transform:scale(1.8);
	z-index:1;
	-webkit-transform:scale(1.4);
	transition: 450ms all;
	transpare
}

.movie-items .slick-multiItem .slick-list, .movie-items .slick-multiItem2 .slick-list{
    
	padding: 20px 0;
	
}

/* 상세보기 css */
.mainDetailInfo{
	 padding-top: 0px;
}
/* x버튼 */
.title-hd a.viewall2 {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
.title-hd a.viewall2 i {
  margin-left: 5px;
}
.title-hd a.viewall2:hover {
  color: #dcf836;
}

/* 기본정보 영역 */
.mainInfo .title-in  .mainInnerDetail .movie-item {
  margin-right: 0px;
}

.mainInfo .title-in  .mainInnerDetail .movie-item .social-btn{
  margin: 25px 0px;
}

.mainInfo .title-in  .mainInnerDetail .movie-item .btn-transform{
  width: 100%;
}
.mainInfo .title-in  .mainInnerDetail .movie-item,.mainInnerImg{
  min-height: 300px;	
}

.mainInfo .title-in  .mainInnerDetail .mainInnerImg{
  background-repeat: no-repeat;
  background-position: center;
}

.mainInfo .title-in  .mainInnerDetail .movie-item .detailImg{
  background-size: auto;	
}

/* 비슷한작품 영역 */
.mainInfo .mainSim .movie-item{
	 margin-right: 0px;
	 margin-top: 50px;
}

.mainInfo .mainSim .movie-item .mainInnerVideoRight{
	/* border: 3px solid white;  */
	height:150px;
}

.mainInfo .mainSim .btn-transform{
	  width: 100%;
	  padding-top: 25px;
}

.mainInfo .mainSim .mainInnerVideoRight .videoPlayer img{
	max-width: 100%;
	height: auto;
}

/* 상세정보 하단 버튼(기본정보/비슷한작품) */
.mainInner .mainNav {
	padding-top: 400px
}

.mainInner .menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 1vw;
    z-index: 100;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    pointer-events: none;
}
.mainInner .menu li.current {
    cursor: default;
    color: #fff;
}
.mainInner .menu li {
    padding: 1em 1.5em 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    color: #ccc;
    min-width: 5%;
    pointer-events: auto;
}
.mainInner .menu a {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: inherit;
    font-weight: bold;
    text-align: center;
    pointer-events: auto;
}

.mainInner .menu a {
	background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.mainInner .menu li.current span {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    background-color: #E50914;
}
.mainInner .menu li span {
    height: .33em;
    display: block;
    width: 100%;
    margin-top: .66em;
    -webkit-transform: translateY(0.4em);
    -moz-transform: translateY(0.4em);
    -ms-transform: translateY(0.4em);
    -o-transform: translateY(0.4em);
    transform: translateY(0.4em);
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    -o-transition: -o-transform 200ms linear;
    -moz-transition: transform 200ms linear, -moz-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear, -moz-transform 200ms linear, -o-transform 200ms linear;
}
.mainInner ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.mainInner li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.mainInner .menu li.current span {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    background-color: #dd003f;
}
