@CHARSET "UTF-8";

.newsDetailSubmit {
    background-color: #dd003f;
    padding: 0 45px;
    height: 46px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin-left: 710px;
}

.reply{
	margin-bottom: 0px;
	position: absolute;
    right: 40px;
}
.reply_btn{
    color: white;
    display: inline;
	
}

