@CHARSET "UTF-8";

.topbar-filter.user .searchTotal {
    padding-right: 390px;
}

.userPageSingle {
    background-color: #020d18;
    padding: 70px 0;
}

.user-hero .hero-ct .userTitleInfo {
    margin-left: -270px;
}